.jumbotron {
	background-color: white;
	font-size: 150px;
}

#happy {
	background-color: yellow;
}

#sad {
	background-color: blue;
}

#angry {
	background-color: red;
}

#excited {
	background-color: pink;
}

body {
	background-color: #86F4F6;
	font-family: 'Anton', sans-serif;
	padding-bottom: 100px;
}

#zipCode {
	background-color: teal;
}

img {
	padding-top: 100px;
	/*margin-top: 100px;
	border-top: 200px;*/
}

.input-group-btn {
	border: 100px;
}